<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mercado Liebre</title>
</head>

<body>
    <header>
        <img src="/images/logo-mercado-liebre.svg" alt="logo">
        <div>Lugar para la barra de búsqueda</div>
        <div>Comprá en cuotas y sin tarjeta de crédito</div>
        <nav>
            <ul>
                <li><a href="">Ofertas</a></li>
                <li><a href="">Tiendas Oficiales</a></li>
                <li><a href="">Vender</a></li>
                <li><a href="">Ayuda</a></li>
                <br>
                <li><a href="">Creá tu cuenta</a></li>
                <li><a href="">Ingresá</a></li>
                <li><a href="">Mis compras</a></li>
            </ul>
        </nav>
    </header>
    <main>
        <section>
            <img src="/images/img-home-banner.jpg" width=300 alt="banner">
        </section>
        <section>
            <h2>Basado en tu última visita</h2>
            <article>
                <img src="/images/img-cafetera-moulinex.jpg" width=300 alt="imagen de la cafetera">
                <div>$6770</div>
                <span>40% Off</span>
                <h4>Cafetera Moulinex</h4>
            </article>
            <article>
                <img src="/images/img-macbook-pro-2019.jpg" width="300" alt="Macbook">
                <div>$230.000</div>
                <span>20% Off</span>
                <h4>Macbook Pro 2019</h4>
            </article>
            <article>
                <img src="/images/img-samsung-galaxy-s10.jpg" width="300" alt="Samsung galaxy s10">
                <div>$70.500</div>
                <span>10% Off</span>
                <h4>Samsung Galaxy S10</h4>
            </article>
            <article>
                <img src="/images/img-tv-samsung-smart.jpg" width=300 alt="Smart tv">
                <div>$23.200</div>
                <span>5% Off</span>
                <h4>SmartTv Samsung 43"</h4>
            </article>




        </section>
        <section>
            <h2>Sección de Ofertas</h2>
            <article><img src="/images/img-cafetera-moulinex.jpg" width=300 alt="imagen de la cafetera">
                <div>$6770</div>
                <span>40% Off</span>
                <h4>Cafetera Moulinex</h4>
            </article>
            <article>
                <img src="/images/img-macbook-pro-2019.jpg" width="300" alt="Macbook">
                <div>$230.000</div>
                <span>20% Off</span>
                <h4>Macbook Pro 2019</h4>
            </article>
            <article>
                <img src="/images/img-samsung-galaxy-s10.jpg" width="300" alt="Samsung galaxy s10">
                <div>$70.500</div>
                <span>10% Off</span>
                <h4>Samsung Galaxy S10</h4>
            </article>

            <article>
                <img src="/images/img-tv-samsung-smart.jpg" width=300 alt="Smart tv">
                <div>$23.200</div>
                <span>5% Off</span>
                <h4>SmartTv Samsung 43"</h4>
            </article>
        </section>

    </main>
    <footer style=text-align:center>
        <section>
            <h4>Pagá con tarjeta o en efectivo</h4>
            <div>Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en
                puntos de pago. ¡Y siempre es seguro!</div>
            <h4>Envío gratis desde $ 2.500</h4>
            <div>Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de
                productos. Es un beneficio de Mercado Puntos.</div>

            <h4>Seguridad, de principio a fin</h4>
            <div>¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer,
                porque estás siempre protegid@.</div>
            <br>

            <div>Copyright © 1999-2020 MercadoLiebre S.R.L.</div>





        </section>


    </footer>


</body>

</html>